.Home {
    height: 100vh;
    width: 100vw;
    background: rgb(153,247,226);
    background: linear-gradient(180deg, rgba(153,247,226,1) 0%, rgba(250,255,209,1) 100%);
    position: relative;
}

.Home img {
    width: 400px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}

.Home div {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 50px;
    font-weight: 500;
    color: #041733;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.Home button {
    background: rgb(17,153,142);
    background: linear-gradient(83deg, rgba(17,153,142,1) 0%, rgba(56,239,125,1) 100%);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px 40px;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 1s;
}

.Home button:focus {
    outline: none;
}

.Home button:hover {
    background: rgb(17,153,142);
    background: linear-gradient(270deg, rgba(17,153,142,1) 0%, rgba(56,239,125,1) 100%);
}