body {
    background-image: url('https://cdn.glitch.com/af45ea57-cc17-431c-a29e-191393077cfe%2Fbd7bbfd8f956a11c1e590c7ab80049f6.jpg?v=1594019081215');
    background-size: 100%;
}

.Play .container {
    background-color: #f6f6f6eb;
    height: 100vh;
}

.Play .try-play div img {
    width: 150px;
}

.Play .try-play div:nth-child(1) img {
    left: 440px;
    position: absolute;
    top: 70px;
    animation: ride 60s linear 5s forwards;
}

@keyframes ride {
    from {left: 440px;}
    to {left: 1330px;}
}

.Play .try-play div:nth-child(2) {
    margin: 0 80px;
    position: absolute;
    top: 160px; 
}

.Play .try-play div .margin-left {
    margin-left: 10px;
}

.Play .try-play div:nth-child(3) {
    position: absolute;
    top: 220px;
    width: 950px;
    margin: 0 80px;
    font-size: 24px;
    color: #253e3e;
} 

.Play .try-play .countdown {
    margin: 30px 80px 15px;
    float: right;
    font-size: x-large;
    font-weight: 500;
    letter-spacing: 1px;
    color: #253e3e;
}

.Play .try-play input {
    margin-top: 40px;
    width: 950px;
    padding: 10px 2px;
    border-radius: 5px;
    color: #253e3e;
    font-size: 24px;
    border: 3px solid #446666c7;
}

.green {
    color: #8bb901;
}

.red {
    background-color: lightcoral;
    color: #253e3e;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result img {
    width: 180px;
    margin-top: 50px;
    padding-right: 20px;
}

.result .result-grid {
    margin: 50px 0 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 370px 370px 370px;
}

.result .result-grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #253e3e;
}

.result .result-grid div span:first-child {
    font-size: 70px;
    font-weight: 300;
}

.result .result-grid div span:last-child {
    font-size: 20px;
    font-weight: 400;
}

.result button {
    background: rgb(17,153,142);
    background: linear-gradient(83deg, rgba(17,153,142,1) 0%, rgba(56,239,125,1) 100%);
    border: none;
    outline: none;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 8px;
    padding: 10px 40px;
    color: white;
    font-size: 24px;
}

.result button:focus {
    outline: none;
}

.result button:hover {
    background: rgb(17,153,142);
    background: linear-gradient(270deg, rgba(17,153,142,1) 0%, rgba(56,239,125,1) 100%);
}



.result .result-grid div span {
    text-shadow: 0px 2px 5px rgba(0, 0, 0, .1);
}

.result .congrat {
    margin: 20px 0 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .75px;
}

